.Description{
    width: 500px;
    height: fit-content;
    /*  background: #FDFDFD;*/
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-bottom: 20px;
}
.Description:hover{
    box-shadow: 0 1px 14px rgba(24, 90, 219, 0.6);
}
.DescriptionText{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #6C6C6C;
    margin: 20px;
}